<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <div class="bg-info p-5 rounded m-5">
        <div class="h2 text-center">Learn Vue - MovieOPedia</div>
        <hr />
        <div class="input-group mb-3">
          <span class="input-group-text">Title</span>
          <input type="text" class="form-control" v-model="newMovie.title" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Year</span>
          <input type="text" class="form-control" v-model="newMovie.year" />
        </div>
        <div class="text-center pb-3">
          <button class="btn btn-secondary m-2 w-25" v-on:click="addMovie">
            Add Movie
          </button>
          <button class="btn btn-danger m-2 w-25" v-on:click="removeMovie">
            Remove Movie
          </button>
        </div>
        <div class="border p-3 w-100 mx-auto">
          <div class="text-center">
            <h4 class="text-center">Movies List</h4>
            <span class="text-danger" v-if="showMessage">
              You can only add 5 movies
            </span>
            <hr />
            <ul class="list-group">
              <li v-for="movie in getAllMovieText()" class="list-group-item">
                {{movie}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const { createApp, ref, reactive, computed, watch } = Vue;
    let name = ref("Ben");
    let age = ref(20);
    createApp({
      setup() {
        let movies = reactive([
          { title: "Movie 1", year: 2000 },
          { title: "Movie 1", year: 2001 },
          { title: "Movie 1", year: 2002 },
        ]);

        let newMovie = reactive({
          title: "",
          year: "",
        });
        let showMessage = ref(false);

        function addMovie() {
          if (movies.length < 5) {
            movies.push({ title: newMovie.title, year: newMovie.year });
            newMovie.title = "";
            newMovie.year = "";
          }
        }

		// replace with computed property
        function getAllMovieText() {
          return movies.map((movie) => {
            return `${movie.title} was released in ${movie.year}`;
          });
        }

        function removeMovie() {
          movies.pop();
        }

        return { movies, newMovie, showMessage, addMovie, removeMovie, getAllMovieText };
      },
    }).mount("#app");
  </script>
</html>
